{% extends "./base.html" %}

{% block title %}{{ form.title.value }}{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <h1>
        {{ form.title.errors }}
        <textarea 
        id="{{ form.title.id_for_label }}"
        name="{{ form.title.name }}"
        rows="1"
        cols="50"
        required
        >{{ form.title.value }}</textarea>
    </h1>

    <div>
        {{ form.completed.errors }}
        {{ form.completed }}
        <label for="{{ form.completed.id_for_label }}">Task done!</label>
    </div>
    
    <div>
        <h2>
            {{ form.due_date.label }}
        </h2>
        {{ form.due_date.errors }}
        <input
        type="datetime-local"
        id="{{ form.due_date.id_for_label }}"
        name="{{ form.due_date.name }}"
        value="{{ task.due_date_as_html_input_value }}"
        required
        >
    </div>

    <div>
        <h2>
            {{ form.description.label }}
        </h2>
        {{ form.description.errors }}
        <textarea
        id="{{ form.description.label_for_id }}"
        name="{{ form.description.name }}"
        cols="50"
        rows="10"
        >{{ form.description.value }}</textarea>
    </div>

    <input type="submit" value="SAVE">
</form>
{% endblock %}