{% extends "./base.html" %}
{% load static %}

{% block title %}Your Tasks{% endblock %}
{% block scripts %}
<script>var CSRF_TOKEN = "{{ csrf_token }}";</script>
<script src="{% static "todo/task-list.js" %}" defer></script>
{% endblock %}

{% block content %}
<form>
    <div id="add-task-container" class="margin-top">
        <textarea id="add-task-input" class="task-title" rows="1" placeholder="Add a new task..."></textarea>
        <button type="button" id="add-task-button">ADD</button>
    </div>
    <h1>Tasks</h1>
    {% if task_list %}
    <ul>
        {% for task in task_list %}
        <li class="task-list-item" data-task-pk="{{ task.pk }}">
            <input
                type="checkbox"
                class="task-list-checkbox"
                {% if task.completed %}checked{% endif %}
            >
            <a href="{% url "todo:task-detail" task.id %}">{{ task.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You have no tasks.</p>
    {% endif %}
</form>
{% endblock %}