{% extends "./base.html" %}

{% block title %}{{ form.title.value }}{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.title.errors }}
    {{ form.title }}

    <div>
        {{ form.completed.errors }}
        {{ form.completed }}
        <label for="{{ form.completed.id_for_label }}">Task done!</label>
    </div>
    
    <div>
        <h2>
            {{ form.due_date.label }}
        </h2>
        {{ form.due_date.errors }}
        {{ form.due_date }}
    </div>

    <div>
        <h2>
            {{ form.description.label }}
        </h2>
        {{ form.description.errors }}
        {{ form.description }}
    </div>

    <input type="submit" value="SAVE">
</form>
{% endblock %}