{% extends "./base.html" %}

{% block title %}Your Tasks{% endblock %}

{% block content %}
<h1>Tasks</h1>
<form>
    {% if task_list %}
    <ul>
        {% for task in task_list %}
        <li>
            <input id="task-{{ task.id }}-checkbox" type="checkbox" {% if task.completed %}checked{% endif %}>
            <a href="{% url "todo:task-detail" task.id %}">{{ task.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You have no tasks.</p>
    {% endif %}
</form>
{% endblock %}