{% extends "./base.html" %}
{% load static %}

{% block title %}{{ form.title.value }}{% endblock %}
{% block scripts %}
<script>var CSRF_TOKEN = "{{ csrf_token }}";</script>
<script src="{% static "todo/task-detail.js" %}" defer></script>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.title.errors }}
    {{ form.title }}

    <div>
        {{ form.completed.errors }}
        {{ form.completed }}
        <label for="{{ form.completed.id_for_label }}">Task done!</label>
    </div>
    
    <div>
        <h2>
            {{ form.due_date.label }}
        </h2>
        {{ form.due_date.errors }}
        {{ form.due_date }}
    </div>

    <div>
        <h2>
            {{ form.description.label }}
        </h2>
        {{ form.description.errors }}
        {{ form.description }}
    </div>

    <input type="submit" id="save-task-button" class="margin-top" value="SAVE">
    <button
        class="task-detail-delete-button margin-top"
        type="button"
        data-task-pk="{{ task_pk }}"
    >DELETE</button>
</form>
{% endblock %}